<html>

    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="main.js"></script>
        <script src="http://underscorejs.org/underscore.js"></script>
    </head>

    <body>
    </body>

    <script type="text/underscore" id="playerBubble">
            <div class="playerBubble">

                <img src="http://ih0.redbubble.net/image.12766497.0489/sticker,375x360.png" alt="" class="playerImage"/>

                <span> Name:  <%= name %> </span>
                <span> Value:  <%= value%> </span>
            </div>
    </script>

</html>
